<link rel='stylesheet' type='text/css' href='/sign.css' />
<div class="header">
</div>

<head>
  <title>Sign in</title>
  <link rel="stylesheet" href="{{ url_for('static',     filename='sign.css') }}">
</head>

<style>
  p {
    background-image: url('Cal-State-Fullerton-Titans-Logo-2000-2009.png');
  }
</style>



  <form action="/signin" method="post">

  <h3>Tuffy ReSell</h3>
  <p><input name="username" placeholder="Username" value="{{ username }}"></p>

  <p><input name="password" placeholder="Password" type="password"></p>

  <p><button type="submit">Sign In</button></p>

  <div style="text-align: center">
    <a href="/sign_up/">Sign Up</a>
  </div>
  {% if message %}
  <div style="text-align: center">

    <h5>{{message}}</h5>

  </div>
  {% endif %}

  </form>


<div class="footer">
  <h4>Cal State Fullerton</h4>
  <h6>CPSC362</h6>
  <h6>Keith, Tyler, Edgardo, Parish</h6>

</div>